/* Hero.css */

.hero-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Automatically adjust column width */
    gap: 10px; /* Adjust gap between images */
  }
  
  .image-container {
    position: relative;
    overflow: hidden;
    transition: transform 0.2s ease-in-out; /* Add transition for smooth hover effect */
  }
  
  .hero-image {
    width: 100%;
    height: auto;
  }
  
  /* Define different sizes for images */
  .small {
    grid-row-end: span 2;
  }
  
  .medium {
    grid-row-end: span 3;
  }
  
  .large {
    grid-row-end: span 4;
  }
  
  /* Hover effect for image containers */
  .image-container:hover {
    transform: scale(1.10); /* Expand image container on hover */
  }
  
